<?xml version="1.0"?>
<launch>

  <arg name="arm_name" default="arm_1"/>
  <arg name="gripper_name" default="gripper_1"/>

  <!-- upload arm and gripper controller parameters -->
  <rosparam file="$(find youbot_gazebo_control)/config/$(arg arm_name)_controller.yaml" command="load"/> 
 
  <!-- spawn arm controller -->
  <node pkg="controller_manager" type="spawner" name="$(arg arm_name)_controller_spawner"  args="$(arg arm_name)_controller" respawn="false" output="screen" />
  
  <!-- spawn gripper controller -->
  <node pkg="controller_manager" type="spawner" name="$(arg gripper_name)_controller_spawner"  args="$(arg gripper_name)_controller" respawn="false" output="screen" />
 
</launch>
