<?xml version="1.0"?>
<launch>

  <arg name="arm_name" default="arm_1"/>

  <!-- upload arm and gripper controller parameters -->
  <rosparam file="$(find youbot_gazebo_control)/config/$(arg arm_name)_controller.yaml" command="load" ns="$(arg arm_name)"/> 
 
  <!-- spawn arm controller -->
  <node pkg="controller_manager" type="spawner" name="$(arg arm_name)_arm_controller_spawner"  args="$(arg arm_name)/arm_controller" respawn="false" output="screen" />
   
</launch>
