<?xml version="1.0"?>
<launch>

  <!-- upload base controller parameters -->
  <rosparam file="$(find youbot_gazebo_control)/config/base_controller.yaml" command="load" /> 
  
  <!-- Controllers that come up started -->
  <node name="base_controller_spawner" pkg="controller_manager" type="spawner" 
      args="base_caster_joint_fr
            base_caster_joint_fl
            base_caster_joint_br
            base_caster_joint_bl
            base_wheel_joint_fr
            base_wheel_joint_fl
            base_wheel_joint_br
            base_wheel_joint_bl"/>
 
</launch>