<?xml version="1.0"?>
<launch>

  <!-- launch world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="worlds/empty.world"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro.py $(find youbot_description)/robots/youbot_arm_only.urdf.xacro" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_robot" respawn="false" output="screen"
    args="-param robot_description
          -urdf
          -x 0.0
          -y 0.0
          -z 0.0
          -model youbot">
  </node>

  <!-- launch joint state controller -->
  <include file="$(find youbot_gazebo_control)/launch/joint_state_controller.launch" />

  <!-- launch arm controller -->
  <include file="$(find youbot_gazebo_control)/launch/vel_arm_controller.launch" />
  
  <!-- launch gripper controller -->
  <include file="$(find youbot_gazebo_control)/launch/gripper_controller.launch" />
  
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

</launch>
