<?xml version="1.0"?>
<launch>

  <arg name="world" default="robocup_at_work_2012"/>
  <arg name="init_pos_x" default="0.0"/>
  <arg name="init_pos_y" default="0.0"/>
  <arg name="init_pos_z" default="0.0"/>

  <!-- launch world -->
  <include file="$(find youbot_gazebo_worlds)/launch/$(arg world).launch" />

  <param name="robot_description" command="$(find xacro)/xacro.py $(find youbot_description)/robots/youbot_dual_arm.urdf.xacro" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_robot" respawn="false" output="screen"
    args="-param robot_description
          -urdf
          -x $(arg init_pos_x)
          -y $(arg init_pos_y)
          -z $(arg init_pos_z)
          -model youbot">
  </node>

  <!-- launch joint state controller -->
  <include file="$(find youbot_gazebo_control)/launch/joint_state_controller.launch" />

  <!-- launch arm and gripper controller for the first arm-->
  <include file="$(find youbot_gazebo_control)/launch/arm_controller.launch" />

  <!-- launch arm and gripper controller for the second arm-->
  <include file="$(find youbot_gazebo_control)/launch/arm_controller.launch" >
    <arg name="arm_name" value="arm_2"/>
  </include>



  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

</launch>
